---
title: Varvet Boilerplate
---

<div class="blueprint">
  <div class="version">
    <p>Varvet Boilerplate v.0.0.1</p>
  </div>

  <div class="docs">
    <p>Middleman <a href="https://middlemanapp.com/basics/install/">[docs]</a></p>
    <p>Dato CMS <a href="https://www.datocms.com/docs/static-generators/middleman">[docs]</a> <a href="/">[Examples]</a></p>
  </div>

  <div class="description">
    <p>A foundation with essentials and some nice-to-haves for building websites with Middleman and Dato CMS. Feel free to add or replace as you see fit in your project.</p>
  </div>

  <%= image_tag "blueprint-illustration.png", width: "820", height: "600" %>
</div>
