// Grid
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1640px;
    @media screen and (max-width: 39.9375em) { //Mobile
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  .column {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    @media screen and (max-width: 39.9375em) { //Mobile
      padding-left: 10px;
      padding-right: 10px;
    }
    &--no-padding {
      padding: 0;
    }
    &--1 {
      flex-basis: 8.33333333%;
      max-width: 8.33333333%;
    }
    &--2 {
      flex-basis: 16.66666667%;
      max-width: 16.66666667%;
    }
    &--3 {
      flex-basis: 25%;
      max-width: 25%;
    }
    &--4 {
      flex-basis: 33.33333333%;
      max-width: 33.33333333%;
    }
    &--5 {
      flex-basis: 41.66666667%;
      max-width: 41.66666667%;
    }
    &--6 {
      flex-basis: 50%;
      max-width: 50%;
    }
    &--7 {
      flex-basis: 58.33333333%;
      max-width: 58.33333333%;
    }
    &--8 {
      flex-basis: 66.66666667%;
      max-width: 66.66666667%;
    }
    &--9 {
      flex-basis: 75%;
      max-width: 75%;
    }
    &--10 {
      flex-basis: 83.33333333%;
      max-width: 83.33333333%;
    }
    &--11 {
      flex-basis: 91.66666667%;
      max-width: 91.66666667%;
    }
    &--12 {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
  
  // Tablet
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .row {
      padding-left: 20px;
      padding-right: 20px;
      .column {
        &__tablet {
          &--1 {
            flex-basis: 8.33333333%;
            max-width: 8.33333333%;
          }
          &--2 {
            flex-basis: 16.66666667%;
            max-width: 16.66666667%;
          }
          &--3 {
            flex-basis: 25%;
            max-width: 25%;
          }
          &--4 {
            flex-basis: 33.33333333%;
            max-width: 33.33333333%;
          }
          &--5 {
            flex-basis: 41.66666667%;
            max-width: 41.66666667%;
          }
          &--6 {
            flex-basis: 50%;
            max-width: 50%;
          }
          &--7 {
            flex-basis: 58.33333333%;
            max-width: 58.33333333%;
          }
          &--8 {
            flex-basis: 66.66666667%;
            max-width: 66.66666667%;
          }
          &--9 {
            flex-basis: 75%;
            max-width: 75%;
          }
          &--10 {
            flex-basis: 83.33333333%;
            max-width: 83.33333333%;
          }
          &--11 {
            flex-basis: 91.66666667%;
            max-width: 91.66666667%;
          }
          &--12 {
            flex-basis: 100%;
            max-width: 100%;
          }
        }
      }
    }
  }
  
  // Mobile
  @media screen and (max-width: 39.9375em) {
    .row {
      padding-left: 20px;
      padding-right: 20px;
      .column {
        &__mobile {
          &--1 {
            flex-basis: 8.33333333%;
            max-width: 8.33333333%;
          }
          &--2 {
            flex-basis: 16.66666667%;
            max-width: 16.66666667%;
          }
          &--3 {
            flex-basis: 25%;
            max-width: 25%;
          }
          &--4 {
            flex-basis: 33.33333333%;
            max-width: 33.33333333%;
          }
          &--5 {
            flex-basis: 41.66666667%;
            max-width: 41.66666667%;
          }
          &--6 {
            flex-basis: 50%;
            max-width: 50%;
          }
          &--7 {
            flex-basis: 58.33333333%;
            max-width: 58.33333333%;
          }
          &--8 {
            flex-basis: 66.66666667%;
            max-width: 66.66666667%;
          }
          &--9 {
            flex-basis: 75%;
            max-width: 75%;
          }
          &--10 {
            flex-basis: 83.33333333%;
            max-width: 83.33333333%;
          }
          &--11 {
            flex-basis: 91.66666667%;
            max-width: 91.66666667%;
          }
          &--12 {
            flex-basis: 100%;
            max-width: 100%;
          }
        }
      }
    }
  }
  